Pandas Tutorial

Pandas is an open source library that proveides high performance and easy to use data structures and data analysis tools for Python

Working with Pandas:-

First step import

In [1]:
import pandas as pd
import numpy as np

What is Data Frames?

Data Frames are a combination of both columns and rows, it basically show you a representation format where in how your data exactly looks like in excel sheet in the same way it will be loaded

Creating data frames

Use data fram inbuilt fucntion

pd.DataFrrame()

In [3]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'], columns=["Column1","Column2","Column3","Column4"])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
#df.to_csv('Test.csv')
#converts the data frame into an excel file

Accessing elements

.loc or .iloc functions

.loc is row index based, you put the exact row index in it 
.iloc is index location, both row and column based. you give the index of both row and column 

df.loc['Row1']

In [6]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

Data Series:-

Data series is only row and column based, meaning its a combination of only one column or row

loc:-

df.loc['Row1']

iloc:-

df.iloc[:,:]

In [7]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [8]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [9]:
df.iloc[1:2,1:2]

      Column2
Row2        5

Convert Dataframes into array:-

df.iloc[:,1:].values

In [10]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

How to check null condition

df.isnull().sum()

In [11]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

How to check which value is present how many times in  a column?

In [13]:
df['Column1'].value_counts()

Column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

How to check unique values?

In [14]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])